.button {
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: 1px solid $bd_btn;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;

  &:hover,
  &:active {
    outline-color: #d5c9bd;
  }

  &:active {
    outline-color: $bd_btn;
    background-color: #d5c9bd;
    color: rgba(0,0,0,0.3)
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 160px;
  }
}
