.portfolio__item {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .portfolio__items {
    padding-bottom: 35px;
  }

  .portfolio__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .portfolio {

    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      width: 293px;
      flex-direction: column;
      margin-bottom: 0;
    }

    &__item--month {
      width: 100%;
      flex-direction: row;
      margin-bottom: 40px;
    }
    &__information {
      padding-left: 30px;
    }
  }
}
